body {
    background-image: url("../img/Rectangle\ 1.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0; 
    height: 100vh; 
}

.rot div {
    display: inline-block;
    margin-right: 20px;
}

.xs{
    margin-top: 70px;
}
.kl{
    margin-top: 20px;
}
.cv{
    margin-top: 20px;
}

.vb{
    margin-top: 20px;
}
.fa-magnifying-glass{
    color: aliceblue;

}
.face{
    padding-left: 50px;
    
}
.icon {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
  }
  .icon i {
    font-size: 30px; 
  }

  .fa-star{
    color: gold;
  }
  .star{
    display: flex; 
    align-items: center; 
    gap: 10px;
   margin-top: 20px;
  }
  .sr{
    color: aliceblue;
  }
  .tabl{
    margin-top: 30px;
    display: flex; 
  gap: 20px; 
  }

  

     .img{
        margin-top: 30px;
        display: flex; 
      gap: 20px; 

     } 
  .cnn{

    margin-top: 30px;
        
  }

  .tip{
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    width: 100px; 
    height: 50px; 
    background-color: rgb(141, 206, 28);
  
  }

  .ta{
    background-image: url("../img/Rectangle\ 2.svg");
  }

  .tb{
    background-image: url("../img/Rectangle\ 3.png");
  }
  .cont{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    top: 550px; 
    left: 800px;

  }
  .fa-star:hover{
    color: rgb(240, 6, 53);
  }


  
  


